# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# git
ffmpeg-tensorflow/*
delivery_server/nginx_log/*
share/results-collector/*
share/tools/graphs/*

# Distribution / packaging
.Python
dash/
hls/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.workspace.code-workspace

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt
delivery_server/nginx_log/access.log
delivery_server/nginx_log/error.log
delivery_server/nginx_log/nginx.pid
share/traces/*


# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/


# Translations
# mypy
.mypy_cache/


# Large media files
*.mp4
*.m4a
*.m4v
*.tiff
*.avi
*.flv
*.mov
*.wmv



